<header>
  <form [formGroup]="assetForm">
    <div class="card flex justify-content-center">
      <input
        type="text"
        placeholder="Digite um ativo"
        pInputText
        formControlName="asset"
      />
      <p-button
        label="Buscar"
        aria-label="Buscar"
        [disabled]="!assetForm.valid"
        (onClick)="submit()"
      ></p-button>
    </div>
  </form>
</header>
<body>
  <div class="card">
    <p-chart type="line" [data]="data"></p-chart>
    <!-- [options]="options" -->
  </div>

  <div class="card">
    <p-table
      [value]="formattedAssetData"
      [tableStyle]="{ 'min-width': '20rem' }"
    >
      <ng-template pTemplate="header">
        <tr *ngIf="formattedAssetData.length > 0; else noTableItemsFound">
          <th>Dia</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Variação em relação a D-1</th>
          <th>Variação em relação a primeira data</th>
        </tr>
        <ng-template #noTableItemsFound>
          <tr>
            <td>Não foram encontrados dados.</td>
          </tr>
        </ng-template>
      </ng-template>
      <ng-template pTemplate="body" let-formattedAssetData>
        <tr>
          <td>{{ formattedAssetData.day }}</td>
          <td>{{ formattedAssetData.date | date : "dd/MM/yyyy" }}</td>
          <td>{{ formattedAssetData.value | currency : "BRL" }}</td>
          <td *ngIf="formattedAssetData.variationPreviousDay > 0; else noData">
            {{ formattedAssetData.variationPreviousDay | percent }}
          </td>
          <td *ngIf="formattedAssetData.variationPreviousDay > 0; else noData">
            {{ formattedAssetData.variationComparedToFirstDay | percent }}
          </td>

          <ng-template #noData> <td>-</td></ng-template>
        </tr>
      </ng-template>
    </p-table>
  </div>
</body>
<footer></footer>
